 @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
  }
  /* section one begins */
  /* header */
  header {
    height: 80px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 30px;
    font-weight: bold;
    color: black;
  }
  
  #logoU {
    color: #a63bf0;
  }
  
  .optone span {
    font-size: 15px;
    font-weight: 100;
    color: #637381;
    margin-left: 10px;
    cursor: pointer;
  }
  .optone span:hover{
    color: #a63bf0;
  }
  
  .search {
    display: flex;
    align-items: center;
    flex-grow: 1;
    max-width: 500px;
    height: 40px;
    border: 1px solid black;
    border-radius: 20px;
    background-color: #f0f2f5;
    padding: 5px;
  }
  
  .search input {
    flex: 1;
    border: none;
    outline: none;
    background-color: #f0f2f5;
    font-size: 14px;
    margin-left: 5px;
  }
  
  .options span {
    font-size: 15px;
    font-weight: 100;
    color: #637381;
    margin-left: 5px;
    cursor: pointer;
  }
  .options span:hover {
    color: #a63bf0;
  }
  
  .buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 2px;
  }
  
  .lbtn,
  .sbtn {
    height: 40px;
    min-width: 100px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 0.2px solid rgb(23, 22, 22);
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 2px;
    margin-left: 7px;
  }
  
  .sbtn {
    background-color: black;
    color: white;
  }
  
  .btn {
    height: 40px;
    width: 40px;
    background-color: white;
    border: 0.2px solid rgb(23, 22, 22);
    border-radius: 2px;
    margin-left: 7px;
  }
  
  .img {
    width: 20px;
    height: 20px;
    margin-right: 3px;
  }
  /* header ends */
.imageone {
    display: flex;
    align-items: center;
    justify-content: center;
}
  .imgone{
    height: 30rem;
    width: 80rem;
  }
  .box1 {
    width: 400px;
    height: 250px;
    border: 2px solid #e8ecec;
    box-shadow: 2px 2px #ebe5e5;
    border-radius: 2px;
    background-color: white;
    padding-top: 15px;
    padding-left: 20px;
    line-height: 30px;
    text-align: left;
    position: absolute;
    right: 60%;
    top: 30%;

  }
  .box1 > h1 {
    color: black;
    font-size: 30px;
    padding-bottom: 10px;
   
  }
  .box1 > p {
    color: black;
    font-size: 15px;
   
  }
.btnone {
    height: 40px;
    min-width: 100px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 0.2px solid rgb(23, 22, 22);
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 2px;
    margin-left: 7px;
}
.texttwo {
    padding-top: 30px;
    padding-left: 120px;
}
.texttwo > h1 {
    color: black;
    font-size: 30px;
    padding-bottom: 10px;
}
.texttwo > p {
    font-size: 20px;
    padding-bottom: 50px;
}
.list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    font-size: 15px;
    font-weight: bold;
}
.list > li a{
    margin-left: 20px;
    text-decoration: none;
    color: rgb(68, 60, 60);
}
.list > li a:hover{
    color: black;
}

/* textthreepart */

.box2 {
    height: 30rem;
    width: 80rem;
    border: 2px solid rgb(228, 236, 215);
    margin-left: 120px;
    margin-top: 30px;
    padding-left: 30px;
    padding-top: 20px;
}
.box2 > h1 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 10px;
} 
.par1 {
    color: black;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
}
.btntwo {
    height: 40px;
    min-width: 100px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 0.2px solid rgb(23, 22, 22);
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 2px;
    margin-top: 10px;
}

/* firstcard */
.cards1 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    width: 260px;
   padding: 10px;
    min-height: 400px;
}
.content > h4 {
    font-size: 15px;
}
.content > p {
    font-size: 12px;
}
.content > img {
    height: 120px;
}
.bs {
    height: 20px;
    width: 70px;
    font-size: 13px;
    background-color: lemonchiffon;
}

/* textfourpart */
.textfour {
    margin-top: 50px;
    padding-top: 30px;
    
    background-color: #f7f9fa;
}
.textfour > h1{
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-left: 120px;
    padding-bottom: 10px;
}
.cards2 {
    margin-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardd2 {
    width: 400px;
    padding: 20px;
    min-height: 350px;
    border: 2px solid rgb(144, 139, 139);
    background-color: #ffffff;
    margin: 10px;
}
.content1 > img {
    width: 30px;
}
.content1 > h4 {
    font-size: 15px;
    margin-top: 13px;
    margin-bottom: 18px;
}
.sn {
    height: 30px;
    width: 60px;
    padding: 5px;
    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
}
.par2{
    color: black;
    font-size: 15px;
    line-height: 25px; 
}
.par3 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    color: purple;
    font-size: 15px;
    font-weight: bold;
}
.par3 > img {
    width: 30px;
   
}

/* section2 */
.cont2 {
    
    margin-top: 50px;
}
.cont2 > h1 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-left: 120px;
    padding-bottom: 10px;
}

.cont3 {
    margin-top: 50px;
}
.cont3 > h1 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-left: 120px;
    padding-bottom: 10px;
}
.cards3 {
   display: flex;
   align-items: center;
   justify-content: center;
   flex-wrap: wrap;
}

.carrd3 {
    width: 300px;
    padding: 20px;
    min-height: 300px;
    position: relative;
    border: transparent;
    background-color: #f8f9fb;
    margin: 30px 10px;
}
.carrd3 > h5 {
    position: absolute;
  top: 100%; 
  left: 0;
}
.content3{
    padding-top: 90px;
    padding-left: 80px;
   
}
.content3 > img {
    width: 100px;
    
}
/* section3  */
.cont4 {
    margin-top: 50px;
    padding-top: 30px;
    background-color: #f7f9fa;
}
.cont4 > h1 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding-left: 120px;
    padding-bottom: 10px;
}
.cards4{
    display: flex;
   align-items: center;
   justify-content: center;
}
.carrd4{
    width: 300px;
    padding: 20px;
    min-height: 300px;
    margin: 10px;
    
}
.carrd4 > a {
    color: rgb(110, 4, 196);
    font-size: 13px;
    font-weight: bold;
    line-height: 25px; 
}
.carrd4 > p {
    font-size: 15px;
    margin-bottom: 15px;
}
.bt5 {
    height: 40px;
    min-width: 100px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 0.2px solid rgb(23, 22, 22);
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 2px;
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 120px;
}


.cont5{
    margin-top: 50px;
}
.cont5 > h1{
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-left: 530px;
    padding-bottom: 14px;
}
.cont5 > p{
    font-size: 15px;
    padding-left: 400px;
    padding-bottom: 20px;
}
.cards5 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrd5 {
    width: 300px;
    padding: 20px;
    min-height: 200px;
    margin: 10px;
}
.content5 > img {
    width: 70px;
}


.cont6{
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #f7f9fa;
}
.box6 {
    width: 55rem;
    height: 20rem;
    margin-top: 30px;
    margin-left: 300px;
    margin-bottom: 50px;
    padding-left: 50px;
    padding-top: 20px;
    border: 2px solid #b0b3b3;
    border-radius: 2px;
    background-color: #f5f7fa;;
}
.cards6 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.carrd6 {
    width: 500px;
    padding: 10px 20px 20px 5px  ;
    min-height: 300px;
    margin: 10px 20px 10px 5px;
}
.content6i > img {
    width: 20px;
}
.content6i > p {
    font-size: 14px;
    margin-bottom: 60px;
}
.content6i > a {
    color: rgb(110, 4, 196);
    font-size: 15px;
    font-weight: bold;

}
.content6ii {
    margin-left: 60px;
}
.content6ii > img {
    height: 130px;
    width: 130px;
    border-radius: 50%;
}
.content6ii > h4 {
    font-weight: bold;
    margin-left: 15px;
}
.content6ii > h5 {
    font-weight: lighter;
    font-size: 15px;
    margin-left: 30px;
    margin-bottom: 25px;
}
.content6ii > p {
    font-size: 16px;
    margin-left: 15px;
}
.al {
    color: rgb(110, 4, 196);
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    margin-left: 36rem;
    padding: 20px;
}
/* section7 */


.cont7 {
    margin-top: 50px;
}
.cards7 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.carrd7 {
    width: 500px;
    padding: 20px;
    min-height: 400px;
    margin: 10px;
}
.logo2 {
    margin-bottom: 5px;
}
.log1 {
    font-size: 25px;
    font-weight: bolder;
    
}
#biz {
    font-size: 25px;
   color: purple; 
   font-weight: lighter;
}
.content7i > h1 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 37px;
    margin-bottom: 10px;
}

.content7i > p {
    font-size: 20px;
    margin-bottom: 20px;
}
.btn7i {
    height: 40px;
    min-width: 100px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 0.2px solid rgb(23, 22, 22);
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 2px;
    margin-top: 10px;
}
.btn7ii {
    height: 40px;
    min-width: 100px;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 0.2px solid rgb(23, 22, 22);
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 2px;
    margin-top: 10px;
}
.content7iv > h1 {
    font-size: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    margin-bottom: 20px;    
}
.content7iv > p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}
.btn7iv {
    height: 40px;
    min-width: 100px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 0.2px solid rgb(23, 22, 22);
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 2px;
    margin-top: 10px;
}

.cont8 {
    background-color: black;
    margin-top: 60px;
}
.cards8 {
    display: flex;
    align-items: center;
}
.cards8 > button {
    height: 40px;
    min-width: 100px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 0.2px solid white;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 2px;
    margin-bottom: 230px;
    margin-left: 350px;
}
.carrd8 {
    width: 300px;
    padding: 20px;
    min-height: 300px;
    margin: 10px;
}
.content8 > a {
    font-size: 14px;
    line-height: 25px;
    color: white;
    text-decoration: none;
}
.content8 > a:hover {
    text-decoration: underline;
}
.last {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
}
.last > p{
    color: white;
    font-size: 10px;
}
.logo3 {
    color: white;
    font-size: 25px;
    font-weight: bolder;
}



  
/* Media Queries */
